body {
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
    background: url(../images/login_background.jpg);
    overflow-y: hidden;
}

#header {
    width: 100%;
    height: 9vh;
    background-color: white;
    float: left;
    box-shadow: 1px 1px 5px gray;
    text-align: center;
    position: fixed;
}

#header h2 {
    font-weight: normal;
    letter-spacing: 2px;
}

#question {
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}